################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Labb-2-SQL-Server-Managment-Application/FileContentIndex
/.vs/Labb-2-SQL-Server-Managment-Application/FileContentIndex/7d959022-9348-4477-99c1-6247b43ad252.vsidx
/.vs/Labb-2-SQL-Server-Managment-Application/FileContentIndex/f44b2d10-eb44-4b82-8cab-e3f612e9d3ce.vsidx
